body {
  font-family: "Inter";
  background-color: #FFFFFF;
  font-size: 18px;
}

.header_container {
  max-width: 1600px;
  margin: 0px auto;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 20px;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

#progress-bar {
  position: fixed;
  top: 0;
  height: 4px;
  background-color: #0300DF;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_menu li {
  list-style: none;
  margin-left: 80px;
}

.header_btn {
  height: 48px;
  width: 299px;
  border-radius: 200px;
  border: 1px #242424 solid;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
.header_btn:hover {
  background-color: #0300DF;
  color: #FFFFFF;
  border: none;
}

a {
  text-decoration: none;
  color: #242424;
}
a:hover {
  color: #0300DF;
}

.circle_cursor {
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@font-face {
  font-family: "Signate Grotesk";
  src: url(fonts/signategrotesk-black.ttf);
}
.h1_container {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 100px;
  height: 550px;
}

.line {
  height: 50px;
  border-top: 1px #808080 solid;
  border-radius: 200px;
  width: 100%;
}

.h1_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.h1 {
  font-size: 196px;
  font-family: "Signate Grotesk";
  text-transform: uppercase;
  line-height: 100%;
  color: #242424;
}
.h1 span {
  color: #0300DF;
}

.circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 138px;
  height: 138px;
  border-radius: 500px;
  border: 1px solid #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.line_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 172px;
}

.h1_txt {
  left: 0;
  position: absolute;
  z-index: 1;
}

.h1_img {
  right: 0;
  position: absolute;
  z-index: -1;
}
.h1_img img {
  max-width: 493px;
  max-height: 509px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.h1_img {
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.about_container {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 200px;
}

.about_txt {
  font-size: 64px;
  line-height: 100%;
  width: 100%;
  text-indent: 350px;
}

.about_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about_main .about_right_txt {
  font-size: 24px;
  line-height: 130%;
  width: 900px;
  margin-right: 200px;
}

.about_img {
  display: block;
}
.about_img button {
  margin-top: 20px;
  height: 48px;
  width: 520px;
  border-radius: 200px;
  border: 1px #242424 solid;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
.about_img button:hover {
  background-color: #0300DF;
  color: #FFFFFF;
  border: none;
}

.portfolio_container {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 200px;
}

.line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.txt_name {
  font-size: 24px;
  margin-bottom: 0;
}

.txt_category {
  font-size: 24px;
  color: #808080;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cards_img {
  border-radius: 0;
  -webkit-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
  cursor: pointer;
}

.cards_img:hover {
  border-radius: 50px;
}

.card_0 {
  margin-bottom: 50px;
}

.footer_container {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 200px;
}

.h_footer {
  font-size: 196px;
  font-family: "Signate Grotesk";
  text-transform: uppercase;
  line-height: 100%;
  color: #242424;
  letter-spacing: -2%;
  text-align: center;
}

.btn {
  width: 100%;
  background-color: red;
}

.footer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0300DF;
  color: #FFFFFF;
  font-size: 128px;
  border-radius: 200px;
  height: 168px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 50px;
  -webkit-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_btn:hover {
  background-color: #FFFFFF;
  color: #242424;
  border: 1px solid #242424;
  font-weight: bold;
}

.footer_line3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.telegram_btn, .behance_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  letter-spacing: -2%;
  line-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #242424;
  border-radius: 200px;
  text-transform: uppercase;
  height: 168px;
  width: 520px;
}
.telegram_btn:hover, .behance_btn:hover {
  color: #0300DF;
  border: 1px solid #0300DF;
}