$black: #242424;
$blue: #0300DF;
$white: #FFFFFF;
$gray: #808080;

body{
    font-family: "Inter";
    background-color: $white;
    font-size: 18px;
}

::selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}

body::-webkit-scrollbar{
    width: 8px; 
}

body::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
  }
}  
