$black: #242424;
$blue: #0300DF;
$white: #FFFFFF;
$gray: #808080;

%container_1600px{
    max-width: 1600px;
    margin: 0 auto;
}

.circle_cursor {
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.3s ease-out;

}

@font-face {
    font-family: "Signate Grotesk";
    src: url(fonts/signategrotesk-black.ttf);
}

.h1_container{
    @extend %container_1600px;
    margin-top: 100px;
    height: 550px;
}
.line{
    height: 50px;
    border-top: 1px $gray solid;
    border-radius: 200px;
    width: 100%;
}
.h1_body{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.h1{
    font-size: 196px;
    font-family: "Signate Grotesk";
    text-transform: uppercase;
    line-height: 100%;
    color: $black;
    span{
        color: red;
    }
}
.circle{
    box-sizing: border-box;
    width: 138px;
    height: 138px;
    border-radius: 500px;
    border: 1px solid $black;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 50px;
}

.line_1{
    display: flex;
    align-items: center;
    margin-left: 172px;
}

.h1_txt{
    left: 0;
    position: absolute;
    z-index: 1;
}
.h1_img{
    right: 0;
    position: absolute;
    z-index: -1;
    img{
        max-width: 493px;
        max-height: 509px;
    }
}

@keyframes rotate {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }
  
.h1_img{
    animation: rotate 10s linear infinite;
}
  

.about_container{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 200px;
}

.about_txt{
    font-size: 64px;
    line-height: 100%;
    width: 100%;
    text-indent: 350px;
}
.about_main{
    display: flex;
    .about_right_txt{
        font-size: 24px;
        line-height: 130%;
        width: 900px;
        margin-right: 200px;
    }
}
.about_img{
    display: block;
    button{
        margin-top: 20px;
        height: 48px;
        width: 520px;
        border-radius: 200px;
        border: 1px $black solid;
        font-size: 18px;
        text-transform: uppercase;
        background-color: $white;
        &:hover{
            background-color: $blue;
            color: $white;
            border: none;
        }
    }
}

.portfolio_container{
    @extend %container_1600px;
    margin-top: 200px;
}
.line1{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
.line2{
    display: flex;
    justify-content: space-between;
}
.txt_name{
    font-size: 24px;
    margin-bottom: 0;
}
.txt_category{
    font-size: 24px;
    color: $gray;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cards_img{
    border-radius: 0;
    transition: border-radius 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}
.cards_img:hover{
    border-radius: 50px;
}

.card_0{
    margin-bottom: 50px;
}
